 

 body{

    background-color:lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
   color: rgb(40, 40, 153);
   background-color: rgb(187, 180, 166);
}
h2{
    color: rgb(48, 36, 6); text-align: center;
}
p{ text-align: center; color: rgb(12, 24, 1);}


