@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right, #348888,#9EF8EE);
}
main{
    background-color: rgb(248, 248, 248);
    border-radius: 10px ;
    box-shadow: 5px 5px 15px rgb(136, 109, 93);
    width:  600px ;
    padding: 10px;
    margin: auto;
}
h1{
    color:#F39209;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(126, 77, 8, 0.733) ;
}
h2{
    color: #125189;
}
p{
text-align: justify; 
}